<section class="tab tab-properties" data-group="primary" data-tab="tab-properties">
	<div class="property-grid">
		<div>
			{{!-- {{> actors/player/inventory/equipped-gear }}
			{{> actors/player/inventory/carried-gear }}
			{{> actors/player/inventory/stashed-gear }} --}}
		</div>

		<!--Sidebar-->
		<div>
			<div class="grid-1-columns">
				{{!-- {{> actors/player/inventory/slots }}
				{{> actors/player/inventory/coins }}
				{{> actors/player/inventory/gems }} --}}
			</div>
		</div>
	</div>
</section>
