<form class="{{cssClass}}" autocomplete="off">

<header class="sheet-header">
  <input
    name="name"
    type="text"
    value="{{item.name}}"
    placeholder="Item Name"
  />
</header>

<section class="sheet-body">

  <div class="form-group">
    <label>Quantity</label>
    <input
      type="number"
      name="system.quantity"
      value="{{system.quantity}}"
    />
  </div>

  <div class="form-group">
    <label>Weight</label>
    <input
      type="number"
      name="system.weight"
      value="{{system.weight}}"
    />
  </div>

  <button type="button" class="test-button">
    Test
  </button>

</section>

</form>